header {
    font-family: Arial, sans-serif;
    height: 150px;
    text-align: center;
    color: white;
    line-height: 120px;
    background-color: #27abf7;
    align-content: baseline;
    margin-bottom: 50px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
body div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    flex-direction: column;
    padding: 5px;
}

body div button{
    background-color: #00f000;
    height: 95px;
    width: 300px;
    margin: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;    
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

label, select {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.card {
    width: 400px;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    align-self: auto;
    
}

.card button{
    background-color: #ffff16;
    height: 35px;

    margin: 15px;
}